<h1>New idea</h1>

<form id="new-idea" name="idea">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="summary"> summary:</label>
    <input type="text" name="summary" id="summary" value="<%= summary %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Idea" />
  </div>

</form>

<a href="#/index">Back</a>