/*
 *= require_self
 *= require_tree .
 */

@import "bourbon";
@import "neat";

$brand-primary: #ff530d;

/* fonts */
body {
  font: 14px "Lucida Grande", "Lucida Sans Unicode", Verdana, "Jamrul", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  font-size: 1.4em;
  display: inline-block;
  padding: 1em;
  border-radius: 0.5em;
  background: $brand-primary;
  color: #fff;
}

#wrapper {
  @include outer-container;
  max-width: 90%;

  > header {
    #logo {
      text-align: center;
      text-transform: uppercase;
      font-weight: normal;
    }
    nav {
      ul {
        list-style: none;
        padding-left: 0;
        @include span-columns(12);

        > li {
          @include span-columns(6 of 12);
          text-align: center;
          
          a {
            @extend .button;
          }
        }
      }
    }
  }
}

#ideas-list {
  @include span-columns(12);
  list-style: none;
  padding-left: 0;

  > li {
    margin-bottom: 1em;
  }
}

.idea {
  background: #eee;
  padding: 0.25em 1em;
}
